.tabTableSmall{
    outline: 1px solid black;
    width: max-content;
    span{
        cursor: pointer;
    }
    .topDiv{
        width:100%;
        display:flex; justify-content: flex-end;
        input{
            border:0px;
            text-align: right;
        }
    }
    .mainContent{
        display:flex; flex-direction: row;
        .tableLeft{
            div:nth-of-type(1){
                span{
                    padding:0 4px;
                }
                span:nth-of-type(1){
                    transform: rotate(180deg);
                }
            }
        }
        .tableRight{
            display:flex; flex-direction: column; justify-content: space-evenly;
            padding: 0 12px;
        }
    }
}