.TabDisplaySml{
    display:flex; flex-direction: row;
    text-align: center;
    width:max-content;
    font-size: 1.2em;
    margin: 8px;
    .tabRow{
        display:flex; flex-direction: column-reverse;
        .tabItem{
            width:32px;
        }
        .marker1{
            opacity: 0.25;
        }
    }
}