.tabPreview{
    text-align: center;
    outline: 1px dotted green;
    .tabSmallCont{
        display:grid; 
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        justify-content: space-around;
    }
}