$bgCol1 : #2b2b2b;
$bgCol2 : #6b5537; // Background colour for the sidepanel inputs
$bgCol3 : #81571d; // Background colour for the sidepanel inputs
$bgCol4 : #d6d6d6; 
$bgCol5 : #fafafa; // Background colour for the small tabs, maybe more

$col1 : #ff9100;
$col2 : #7e4700;
$col3 : #464646; // Main font colour
$col4 : #0f0f0f; // Tab note colour

$xSmlBreak : 576px;
$smlBreak : 768px;
$mdBreak : 992px;
$lgBreak : 1200px;
$xlBreak : 1400px; 
