@import './variables';
main{
    width:75vw;
    margin:auto;
    article{
        margin: 8px 0;
        .tabPreview{
            padding-bottom: 32px;
        }
    }
}

@media (max-width:$smlBreak){
    main{
        width:100vw;
    }
}