@import './variables';
html{
    background:$col4;
}
main{
    width:75vw;
    margin:auto;
    article{
        margin: 8px 0;
        .tabPreview{
            padding-bottom: 32px;
        }
    }
}

#asyncTestBtn{
    position:fixed;
    left:45%;
    top:50%;
    width:256px; height: 64px;
}
#asyncTestBtn:nth-of-type(2){
    top:60%;
}

@media (max-width:$smlBreak){
    main{
        width:100vw;
    }
}