/* body{
    background-color: #2c7c61;
} */

/* header{
    background-color: #070707;
    color:#F18A69;
} */

/* .behindNavs{
    background-color: #070707;
} */
/* .optionBox{
    background: #BE8C60;
} */

/* .optionInnerBox{
    background-color: black;
    color: #F18A69;
} */
.optionInnerBox button{
    background-color: black;
    color: #F18A69;
}
.mainOutter{
    background-color: #2c7c61;
}
/* section{
    background-color: #1E5845;
    color: #6CBEA2;
} */

/* .dropDownMenu{
    color: white;
}
.dropDownMenu div{
    color: white;
}
.dropDownMenu div:hover{ 
    background-color: #cca079 !important;
    color:#070707 !important;
}
.dropDownMenu div:nth-of-type(even){
    background-color: #976A43;
}
.dropDownMenu div:nth-of-type(odd){
    background-color: #714E30;
} */
/* .optionInput{
    background-color: rgba(0,0,0,0);
    color:#F18A69;
} */

/* .tabTempBox{
    background-color: #123429;
    color:#070707;

} */
@keyframes highlightFade {
    /* 20%{color: white;} */
    100%{ color: black;}
}
.noteHighlight{
    animation: highlightFade;
    animation-duration: 1s;
    color: white;
}
.noteSelect{
    color: #598891;
}

/* @keyframes fadeout {
    50%{
        background: #1234296e;
        border: 0.5px solid rgba(0, 0, 0, 0.158);
    };
} */

#permTabDisplay00{
    background-color: #123429;
    color: black;
}