* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #2c7c61;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6em;
  border-bottom: gray;
  background-color: #070707;
  color: #f18A69;
}

header h1 {
  padding-left: 24px;
  text-transform: uppercase;
}

header div {
  padding-right: 24px;
}

#sec1, #sec2 {
  position: relative;
  z-index: 2;
  border-radius: 25px 25px 0 0;
  margin: auto;
  margin-top: 9px;
  width: 75%;
  text-align: center;
  font-size: 2em;
  min-height: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #1e5845;
  color: #6cbea2;
}

#sec1 .secLeftGrow, #sec2 .secLeftGrow {
  width: 85%;
  margin-left: 12px;
}

#sec1 .secRightGrow, #sec2 .secRightGrow {
  width: 85%;
  margin-right: 12px;
}

#sec1 .secRightGrow .secLeftGrow, #sec2 .secRightGrow .secLeftGrow {
  width: 90%;
}

#sec1 #tabTemps, #sec2 #tabTemps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#sec1 #tabTemps .tabTempBtm, #sec2 #tabTemps .tabTempBtm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec1 #tabTemps .tabTempBox, #sec2 #tabTemps .tabTempBox {
  margin-top: 16px;
  padding: 16px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid #5f5f5f;
  border-bottom: 1px solid #5f5f5f;
  color: #070707;
  background-color: #123429;
}

#sec1 #tabTemps .tabTempBox #tabTempRBox, #sec2 #tabTemps .tabTempBox #tabTempRBox {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

#sec1 #tabTemps .tabTempBox #tabTempRBox img, #sec2 #tabTemps .tabTempBox #tabTempRBox img {
  cursor: pointer;
}

#sec1 #tabTemps .tabTempTop, #sec2 #tabTemps .tabTempTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sec1 #tabTemps .tabTempTop #arrowDiv, #sec2 #tabTemps .tabTempTop #arrowDiv {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: -8px;
}

#sec1 #tabTemps .tabTempTop #arrowDiv .tabArrowL, #sec2 #tabTemps .tabTempTop #arrowDiv .tabArrowL {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 16px;
}

#sec1 #tabTemps .tabTempTop #crossDiv, #sec2 #tabTemps .tabTempTop #crossDiv {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 20px;
  left: 8px;
}

#sec1 #tabTemps .tabTempTop #crossDiv .exitBtn, #sec2 #tabTemps .tabTempTop #crossDiv .exitBtn {
  width: 16px;
}

#sec1 #tabTemps .tabTempPushBtn, #sec2 #tabTemps .tabTempPushBtn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#sec2 .titleDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sec2 #permTabDisplay00 {
  padding: 36px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2em;
  background-color: #123429;
  color: #070707;
}

#behindNavs .behindNavs {
  z-index: -1;
  position: fixed;
  height: 100vh;
  /* width: 190px; */
  width: 10vw;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: #070707;
}

#behindNavs .behindNavsHide {
  width: 20px !important;
}

#behindNavs #behindRight {
  right: 0;
  border-radius: 0 0 0 50px;
}

#behindNavs #behindLeft {
  border-radius: 0 0 50px 0;
}

#navBarCont {
  position: fixed;
  top: 96px;
  width: 100vw;
}

#navBarCont #navBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBarCont #navBars #navLeft #hideBtnLeft {
  border-radius: 0 18px 18px 0;
  border-left-color: #d4d4d4;
  border-right-color: #949494;
  border-top-color: silver;
  border-bottom-color: silver;
}

#navBarCont #navBars #navRight #hideBtnRight {
  border-radius: 18px 0 0 18px;
  border-left-color: #d4d4d4;
  border-right-color: #949494;
  border-top-color: silver;
  border-bottom-color: silver;
}

#navBarCont #navBars #navRight .rightBtnMove {
  justify-self: flex-end;
}

#navBarCont .optionBox {
  padding: 6px;
  padding-bottom: 12px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  background: #be8c60;
}

#navBarCont .optionBox h3 {
  text-align: center;
  padding-bottom: 10px;
}

#navBarCont .optionBox .optionInnerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f18A69;
  background-color: #070707;
}

#navBarCont .optionBox .optionInnerBox button {
  margin: none;
  border: none;
  border-left: 1px solid grey;
  padding: 24px 12px;
  border-radius: 0 6px 6px 0;
  color: #070707;
  background-color: #cca079;
}

#navBarCont .optionBox .optionInnerBox span {
  max-width: 67px;
  padding: 6px 12px 0px 12px;
  display: block;
}

#navBarCont .optionBox .dropDownMenu {
  position: relative;
  top: -4px;
  color: #ffffff;
}

#navBarCont .optionBox .dropDownMenu div {
  padding: 16px;
  text-align: center;
  max-width: 102px;
}

#navBarCont .optionBox .dropDownMenu div:hover {
  cursor: pointer;
  font-size: 1.2em;
  max-height: 18px;
  color: #070707;
  background-color: #cca079 !important;
}

#navBarCont .optionBox .dropDownMenu div:nth-of-type(even) {
  background-color: #976A43;
}

#navBarCont .optionBox .dropDownMenu div:nth-of-type(odd) {
  background-color: #714E30;
}

#navBarCont .optionBox .dropDownMenu div:last-of-type {
  border-radius: 0 0 10% 10%;
}

#navBarCont .optionBox .dropDownMenu .menuLrg {
  padding: 8px 16px !important;
}

#navBarCont .optionBox .dropDownMenu .menuLrg:hover {
  max-height: 36px;
}

#navBarCont .optionBox .menuHide {
  display: none;
}

#navBarCont .optionBox .optionBtn1 {
  cursor: pointer;
}

#navBarCont .optionBox .optionBtn1 span {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: none;
}

#navBarCont .optionBox .optionInput {
  border: none;
  margin: 0 auto;
  max-width: 132px;
  text-align: center;
  font-size: 1.7em;
  background-color: #070707;
  color: #f18A69;
}

#navBarCont #navRight {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navBarCont .optionInput {
  position: relative;
  top: 6px;
  text-align: center;
}

#navBarCont .optionSlider {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navBarCont .sideSlider {
  position: relative;
  top: 7px;
}

#navBarCont .navBar {
  max-height: 80vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
  scrollbar-width: none;
  min-width: 120px;
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
}

.noteHighlight {
  color: #6cbea2;
}

.singleSpan {
  margin: auto;
  padding: 0 !important;
  font-size: 1.9em;
}

.dwnArrow {
  width: 16px;
}

.noDisplay {
  display: none;
}

.fadeOut {
  position: relative;
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeout {
  50% {
    background: #1234296e;
    border: 0.5px solid rgba(0, 0, 0, 0.158);
  }
}

@keyframes fadeout {
  50% {
    background: #1234296e;
    border: 0.5px solid rgba(0, 0, 0, 0.158);
  }
}
/*# sourceMappingURL=style.css.map */