$bColor1    :#2c7c61;
$bColor2    :#1e5845;
$bColor3    :#123429;
$bColor4    :#1234296e;
$bColor5    :#be8c60;
$bColor6    :#cca079;
$bColor7    :#976A43;
$bColor8    :#714E30;
$bColor9    :#070707;

$color1 : #ffffff;
$color2 : #f18A69;
$color3 : #6cbea2;
$color4 : #598891;
$color5 : #070707;


*{
    padding: 0;
    margin: 0;
}
html { 
    height: 100%;
}

body{
    height: 100%;
    background-color: $bColor1;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    border-bottom:rgba(128, 128, 128, 1);
    background-color: $bColor9;
    color: $color2;


    h1{
        padding-left:24px;
        text-transform:uppercase;
    }

    div{
        padding-right: 24px;
    }
}

#sec1{ // Section 1, temp tab area
    position: relative;
    z-index:2;
    border-radius: 25px 25px 0 0;
    margin:auto;
    margin-top: 9px;
    width:75%;
    text-align:center;
    font-size: 2em;
    min-height: 300px; 
    height: max-content;
    background: $bColor2;
    color : $color3;

    .secLeftGrow{
        width:85%;
        margin-left:12px;
    }
    .secRightGrow{
        width:85%;
        margin-right:12px;
    }
    .secRightGrow .secLeftGrow{
        width:90%;
    }
    #tabTemps{
        display:flex;
        justify-content: space-evenly;
        .tabTempBtm{ // Bottom section
            display:flex;
            align-items: center;
        }
        .tabTempBox{
            margin-top:16px;
            padding:16px;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid rgb(95, 95, 95);
            border-bottom: 1px solid rgb(95, 95, 95);
            color:$color5;
            background-color: $bColor3;
            #tabTempRBox{
                margin: 0 8px;
                display:flex;
                flex-direction: column;
                justify-content: space-between;
                height: 200px;
                img{
                    cursor:pointer;
                }
            }
        }
        .tabTempTop{
            display: flex;
            justify-content: space-between;
            #arrowDiv{
                flex-grow: 2;
                align-self:flex-end;
                position:relative;
                bottom: -8px;
                .tabArrowL{
                    transform: rotate(180deg);
                    margin-right: 16px;
                }
            }
            #crossDiv{
                align-self:flex-end;
                position:relative;
                bottom: 20px;
                left: 8px;
                .exitBtn{
                    width: 16px;
                }
            }

        }
        .tabTempPushBtn{
            transform: rotate(90deg);
        }

    }

}

#sec2{ // Section 2, main tab area
    @extend #sec1;
    .titleDiv{
        display:flex;
        justify-content: center;
    }
    #permTabDisplay00{
        padding: 36px 0 ;
        height:max-content;
        font-size: 1.2em;
        background-color: $bColor3;
        color: $bColor9
    }
}
#behindNavs{
    .behindNavs{
        z-index: -1;
        position:fixed;
        height: 100vh;
        /* width: 190px; */
        width: 10vw;
        top:0;
        transition: 1s;

        background-color: $bColor9;
    }
    .behindNavsHide{
        width:20px !important;
    }
    #behindRight{
        right: 0;
        border-radius: 0 0 0 50px;
    }
    #behindLeft{
        border-radius: 0 0 50px 0;

    }
}

#navBarCont{ // Effects windows
    position: fixed;
    top: 96px;
    width:100vw;
    #navBars{ // Same as parent 
        display:flex;
        justify-content: space-between;
        align-items: center;
        #navLeft{
            #hideBtnLeft{
                border-radius: 0 18px 18px 0;
                border-left-color: rgb(212, 212, 212);
                border-right-color: rgb(148, 148, 148);
                border-top-color: rgb(192, 192, 192);
                border-bottom-color: rgb(192, 192, 192);
            }
        }
        #navRight{
            #hideBtnRight{
                border-radius: 18px 0 0 18px;
                border-left-color: rgb(212, 212, 212);
                border-right-color: rgb(148, 148, 148);
                border-top-color: rgb(192, 192, 192);
                border-bottom-color: rgb(192, 192, 192);
            
            }
            .rightBtnMove{
                justify-self: flex-end;
            }  
        }
    }
    .optionBox{
        padding: 6px;
        padding-bottom: 12px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        background: $bColor5;
        h3{
            text-align: center;
            padding-bottom: 10px;
        }
        .optionInnerBox{
            display:flex;
            height: 52px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            border-radius: 6px;
            justify-content: space-between;
            color: $color2;
            background-color: $bColor9;
            button{
                margin: none;
                border: none;
                border-left: 1px solid grey;
                padding: 24px 12px;
                border-radius: 0 6px 6px 0;
                color: $color5;
                background-color: $bColor6;
            }
            span{
                max-width: 67px;
                padding: 6px 12px 0px 12px;
                display: block;
            }
            

            
        }
        .dropDownMenu{
            position: relative;
            top: -4px;
            color:$color1;
            
            
            div{
                padding: 16px;
                text-align: center;
                max-width: 102px;
            }
            div:hover{
                cursor: pointer;
                font-size: 1.2em;
                max-height: 18px;
                color: $bColor9;
                background-color: $bColor6 !important;
            }
            div:nth-of-type(even){
                background-color: $bColor7;
            }
            div:nth-of-type(odd){
                background-color: $bColor8;
            }
            div:last-of-type{
                border-radius: 0 0 10% 10%;
            }
            .menuLrg{
                padding: 8px 16px !important;
            }
            .menuLrg:hover{ // For items bigger than 1 line
                max-height: 36px;

            }

        }
        .menuHide{
            display:none;
        }
        .optionBtn1{
            cursor: pointer;
            span{
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                padding: none;
            }
        }
        .optionInput{
            border: none;
            margin: 0 auto;
            max-width: 132px;
            text-align: center;
            font-size: 1.7em;
            background-color: $bColor9;
            color:$color2;
        }
    }
    #navRight{
        justify-content: flex-end;
    }
    .optionInput{
        position: relative;
        top: 6px;
        text-align:center;
    }
    .optionSlider{
        flex-direction: column;
    }
    .sideSlider{
        position:relative;
        top: 7px;
    }
    .navBar{
        max-height:80vh;
        overflow-y: scroll;
        /* overflow-x: hidden; */
        scrollbar-width: none;
        min-width:120px; 
        width: 12vw;
        display: flex;
        transition: 1s;
    }
    

}

// Unsorted bits
.noteHighlight{
    color: $color3;
}
.singleSpan{
    margin: auto;
    padding: 0 !important;
    font-size: 1.9em;
}
.dwnArrow{
    width:16px;
}
.noDisplay{
    display: none;
}

.fadeOut{
    position: relative;
    animation-name: fadeout;
    animation-duration: 1s;
}
@keyframes fadeout {
    50%{
        background: #1234296e;
        border: 0.5px solid rgba(0, 0, 0, 0.158);
    };
}