@import '../../../variables';
.tabMain{
    display:flex; flex-direction: column; align-items: center;
    background-color: $col6;
    background: linear-gradient(180deg, $col6 0%, rgba(102,102,102,1) 95%, #00000000 100%);
    width:100%;
    border-radius: 32px 32px 0 0;
    box-shadow: 0px 8px 12px 2px rgba(255, 255, 255, 0.3) inset;
    margin-bottom:192px;
    padding-bottom:64px;

    span{
        cursor: pointer;
    }
    .titleDiv{
        width:50%;
        display: grid;
        grid-template-columns: 15% 70% 15%;
        text-align: center;
        padding-top:32px;
        margin-bottom:32px;
        h2{
            color:$col7;
        }
    }
    .controlsContainer{
        margin-bottom:32px;
        position: relative;
        width:512px;
        display:grid;
        grid-template-columns: repeat(3, 33%);
        .hide{
            visibility: hidden;
        }
        span{
            text-align: center;
        }
        .leftArrow{
            transform: rotate(180deg);
        }

    }
    .mainTabContainer{
        .TabDisplay{
            .tabMid{
                width:max-content;
                overflow-x: visible;
                .tabRow:first-of-type{
                    .tabItem::before{
                        padding-right:4px;
                        content: "|";
                    }
                }
                .tabRow:nth-of-type(4n+4 ),.tabRow:last-of-type{
                    .tabItem::after{
                        padding-left:4px;
                        content: "|";
                    }
                }
                
            }
        }
    }
}